html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html, body, .root {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.5;
  width: 100%; }

body, .app {
  background: #f5f5f5; }

/* CreateContact */
.create-modal_container {
  /* overflow: hidden; */
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #f5f5f5; }

.close-create-contact {
  display: block;
  width: 60px;
  height: 60px;
  background-image: url("./icons/arrow-back.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  font-size: 0; }

.create-contact-form {
  padding: 20px;
  max-width: 500px;
  margin: 0 auto; }

.create-contact-details {
  margin-left: 20px; }

.create-contact-avatar-input {
  min-width: 60px;
  height: 60px;
  background-color: #ffffff;
  background-image: url("./icons/person.svg");
  background-size: 32px 32px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer; }

.create-contact-details input {
  width: 100%;
  padding: 25px 7px;
  margin: 30px 0;
  margin-bottom: 10px;
  font-size: inherit;
  background: transparent;
  border: none;
  border-bottom: 1px solid #cccccc;
  outline: 0; }

.create-contact-details button {
  margin-top: 80px;
  padding: 10px;
  text-transform: uppercase;
  border: none;
  outline: 0;
  width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 2px;
  font-size: 16px;
  border: none;
  outline: none;
  background: #015e9f; }

/* CSS Testing - scss? alternatives? */
/* ListContacts */
.list-contacts-top {
  display: flex;
  justify-content: space-evenly; }

.search-contacts {
  width: 80%;
  padding: 20px 20px 20px 30px;
  margin-top: 30px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 2px;
  background-repeat: no-repeat;
  background-position: 20px center;
  background-size: 1.2em;
  font-size: 1.2em;
  border: none;
  outline: none; }
  .search-contacts:hover {
    border: none;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08); }

.add-like {
  display: flex;
  align-items: center;
  background-image: url("./icons/like.svg");
  background-repeat: no-repeat;
  margin-top: 5px;
  width: 50px;
  height: 50px;
  background-size: 40px; }

.add-contact {
  display: flex;
  align-items: center;
  height: 80px;
  margin-top: 30px;
  background: #015e9f;
  color: #757575;
  cursor: default;
  padding: 0 16px; }
  .add-contact h4 {
    color: #ffffff;
    text-decoration: none; }
  .add-contact:hover {
    border: none;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08); }

.showing-contacts {
  text-align: center;
  margin: 20px 0; }

.showing-contacts button {
  color: #015e9f;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: inherit; }

.contact-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  list-style-type: none; }

@media (max-width: 1662px) {
  .contact-list {
    display: flex;
    justify-content: center; } }

.contact-list-item {
  width: 32rem;
  min-width: 22rem;
  padding: 20px;
  margin-top: 30px;
  background: #ffffff;
  border: 1px solid #d5d8df; }

.contact-name {
  display: flex;
  justify-content: space-between; }

.contact-avatar {
  width: 100%;
  height: 400px;
  margin-top: 10px;
  margin-right: 20px;
  background: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* border-radius: 50%; */
  /* flex-shrink: 0; */ }

.contact-details {
  /* padding-left: 20px; */
  /* border-left: 1px solid #eee; */
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px; }

.contact-details p {
  margin: 0;
  min-width: 0;
  padding-top: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.contact-website {
  white-space: normal;
  border: none;
  cursor: pointer;
  font-size: 16px; }

.contact-remove {
  padding-left: 20px;
  align-self: center;
  width: 32px;
  height: 32px;
  background-color: transparent;
  background-image: url("./icons/cancel.svg");
  background-size: 100% 100%;
  border: 0;
  color: black;
  font-size: 0;
  vertical-align: middle;
  outline: none;
  cursor: pointer; }
